$yellow: #fcb742;
$orange: #d6810c;
$black: #000;
$white: #fff;

 @mixin breakpoint($point) {
  @if $point == small {
     @media (max-width: 768px)  { @content ; }
  }
  @if $point == medium {
     @media (max-width: 991px)  { @content ; }
  }
}

@mixin button-style() {
	background-color: $yellow;
	border: 2px solid $orange;
	border-radius: 4px;
	color: $black;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	&:hover {
		background-color: $orange;
		color: $white;
	}
}