
@font-face {
    font-family: 'dhelmedium';
    src: url('../fonts/dhelmed1-webfont.eot');
    src: url('../fonts/dhelmed1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dhelmed1-webfont.woff2') format('woff2'),
         url('../fonts/dhelmed1-webfont.woff') format('woff'),
         url('../fonts/dhelmed1-webfont.ttf') format('truetype'),
         url('../fonts/dhelmed1-webfont.svg#dhelmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dbrooksamlight';
    src: url('../fonts/dbrooksam1-webfont.eot');
    src: url('../fonts/dbrooksam1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dbrooksam1-webfont.woff2') format('woff2'),
         url('../fonts/dbrooksam1-webfont.woff') format('woff'),
         url('../fonts/dbrooksam1-webfont.ttf') format('truetype'),
         url('../fonts/dbrooksam1-webfont.svg#dbrooksamlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

// @font-face {
//   font-family: 'Champagne-Limousines-Bold';
//   src: url('../fonts/Champagne-Limousines-Bold.eot?#iefix') format('embedded-opentype'), 
//   	   url('../fonts/Champagne-Limousines-Bold.woff') format('woff'),
//   	   url('../fonts/Champagne-Limousines-Bold.ttf')  format('truetype'),
//   	   url('../fonts/Champagne-Limousines-Bold.svg#Champagne&Limousines-Bold') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }


// @font-face {
//   font-family: 'Champagne-Limousines-BoldItalic';
//   src: url('../fonts/Champagne-Limousines-BoldItalic.eot?#iefix') format('embedded-opentype'),
//   	   url('../fonts/Champagne-Limousines-BoldItalic.woff') format('woff'),
//   	   url('../fonts/Champagne-Limousines-BoldItalic.ttf')  format('truetype'),
//   	   url('../fonts/Champagne-Limousines-BoldItalic.svg#Champagne&Limousines-BoldItalic') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Champagne-Limousines-Italic';
//   src: url('../fonts/Champagne-Limousines-Italic.eot?#iefix') format('embedded-opentype'),
//   	   url('../fonts/Champagne-Limousines-Italic.woff') format('woff'),
// 	   url('../fonts/Champagne-Limousines-Italic.ttf')  format('truetype'),
// 	   url('../fonts/Champagne-Limousines-Italic.svg#Champagne&Limousines-Italic') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
