header {
	background: #cf8e3c;
	background: -moz-linear-gradient(top,  #cf8e3c 0%, #f9b64e 100%);
	background: -webkit-linear-gradient(top,  #cf8e3c 0%,#f9b64e 100%);
	background: linear-gradient(to bottom,  #cf8e3c 0%,#f9b64e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf8e3c', endColorstr='#f9b64e',GradientType=0 );

	min-height: 88px;

	.container {
		max-width: 960px;

		.button-container {
			text-align: center;
			button {
				width: 170px;
				height: 50px;
				font-size: 36px;
				position: relative;
				margin-top: 15px;
				@include button-style();
			}
		}

	}

	@include breakpoint(medium) {
		
	}

	@include breakpoint(small) {
		
	}

}

