.background {
	background: #000 url('../img/zootopia-bg.jpg') top center no-repeat;
	@include breakpoint(medium) {
		background-size: 1520px;
	}
	@include breakpoint(small) {
		background-size: 1300px;
	}
	@include breakpoint(xsmall) {
		background-size: 1000px;
	}
}

.main {
	max-width: 992px;
	margin: 0 auto;
	padding: 0;

	.video {
		z-index: 101;
		position: relative;
		margin: 380px auto 0;
		max-width: 992px;
		height: 635px;
		background: url('../img/video-frame.png') top center no-repeat;
		background-size: 100% 100%;

		@include breakpoint(small) {
			margin: 320px auto 0;
		}
		@include breakpoint(xsmall) {
			margin: 230px auto 0;
		}

		.video-container {
			-webkit-box-shadow: inset 0px 0px 75px 2px rgba(0,0,0,0.75);
			-moz-box-shadow: inset 0px 0px 75px 2px rgba(0,0,0,0.75);
			box-shadow: inset 0px 0px 75px 2px rgba(0,0,0,0.75);
			width: 78%;
			height: 72%;
			margin: 9.5% auto 0;
			float: none;
			padding: 0;
			position:relative;
			// padding-bottom:56.25%;
			// height:0;
			// overflow:hidden;
			
			iframe, object, embed {
				// position:absolute;
				// top:0;
				// left:0;
				// width:100%;
				// height:100%;
			}

		}

	}

	.video-footer {
		z-index: 100;
		max-width: 100%;
		.video-footer-container {
			width: 703px;
			height: 123px;
			margin: 0 auto;
			top: -28px;
			background: url('../img/video-footer.png') no-repeat;
			background-size: 100% 100%;
			text-align: center;
			display: table;
			position:relative;
			float:none;
			
			p {
				display: table-cell;
				vertical-align: middle;
				font-size: 52px;
				font-family: "dbrooksamlight", Arial, sans-serif;
				color: $white;
				text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

				
				@include breakpoint(medium) {
					font-size: 40px;
				}

				@include breakpoint(small) {
					font-size: 36px;
				}

			}

		}

	}

	.content {
		margin: 0 auto;

		.copy {
			// max-width: 926px;
			margin: 0 auto;
			margin-bottom: 300px;
			text-align:center;
			background: url("../img/white-glow.png") no-repeat;
			background-size: 100% 100%;

			h1 {
				font-size: 98px;
				text-transform: uppercase;
				text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
				@include breakpoint(medium) {
					font-size: 74px;
				}
				@include breakpoint(small) {
					font-size: 68px;
				}

			}
			img {
				margin: 0 auto 30px;
				display: block;
				max-width: 100%;
			}
			p {
				font-size: 24px;
				margin-bottom: 24px;
				max-width: 780px;
				display: inline-block;
				text-align: left;
				@include breakpoint(medium) {
					padding: 0 32px;
				}
				@include breakpoint(small) {
					font-size: 16px;
				}
			}
			a {
				display: inline-block;
				font-size: 58px;
				width: 256px;
				height: 78px;

				button {
					@include button-style();
					width: 256px;
					height: 78px;
					border: none;
				}
			}
		}

	}
	

	@include breakpoint(small) {

	}


}